<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!--    to use css without downloading it -> CDN, the content delivery network -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="undefined" crossorigin="anonymous">
<!--        fontAwesome CND -->
<!--    <link rel="stylesheet"-->
<!--          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"-->
<!--          integrity="undefined" crossorigin="anonymous">-->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    <title>{% block title%} {% endblock %}</title>
</head>
<body>
<!--       To make a navbar =>  a mobile button to expand the navbar   -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--    To make a toggle button -> a data-toggle and data-target are both needed to make the button collapsable  -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <!--        this button only has a 'sandwich' toggle icon image   -->
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--    To make the navbar items    -->
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            {% else %}
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signup" href="/sign_up">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>

<!--   THIS SPACE IS FOR FLASHING MESSAGES    -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, mes in messages %}
{% if category == 'error' %}
<div class="alert alert-danger alter-dismissable" role="alert">
    {{ mes }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ mes }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith%}


<!--  To define the content of each route  -->
<div class="container">
    {% block content %}{% endblock %}
</div>
<!--    All Javascript   -->

<!--    IMPORTANT:: for the closable menu to work properly, jquery script must come before maxcdn script.
These two are necessary to create the closable show and fade menu -->
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<!--<script-->
<!--        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"-->
<!--&gt;</script>-->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
<!-- use src to connect to js file -->

</body>
</html>