{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post">
    <!--  This form has a h3 title  -->
    <h3 align="center">Login</h3>
    <!--  This form has 4 inputs with each attached label, each input with its label is within a div-->
    <div class="form-group"> <!-- .form-group is for optimal spacing // .form-control is needed for input  -->
        <lable for="email">Email Address</lable>
        <input type="email" class="form-control" name="email" id="email" placeholder="enter email">
    </div>
    <div class="form-group"> <!-- .form-group is for optimal spacing // .form-control is needed for input  -->
        <lable for="password">Password</lable>
        <input type="text" class="form-control" name="password" id="password" placeholder="enter your password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}